.content {
    padding-top: 70px;
    padding-left: 188px;

    .top-chart {
        border-bottom: lightgrey solid 1px;
        height: 47px;
        text-align: left;

        p {
            padding-top: 14px;
            padding-left: 30px;
            padding-bottom: 14px;
            margin: 0;
        }
    }

    .center-chart {
        border-bottom: lightgrey solid 1px;
        height: 111px;

        .calender {
            text-align: center;
            padding: 32px 0;

            .date-picker {
                input {
                    line-height: 10px;
                    padding: 10px 20px;
                    outline: none;
                    font-size: 15px;
                    border-radius: 3px;
                    border: solid 1px lightgrey;
                }

                .refresh {
                    outline: none;
                    font-family: Andale Mono, monospace;
                    color: white;
                    font-size: 20px;
                    background-color: #F58220;
                    border-radius: 5px;
                    padding: 1px 10px;
                    border: 0;

                    &:hover {
                        background-color: #FFA200;
                        opacity: 1;
                    }

                    i {
                        line-height: 30px;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .bottom-chart {
        height: 742px;

        .chart-photo {
            text-align: center;
            padding: 75px 0;

            .chart-table {
                min-width: 200px;
                padding-left: 28%;
                border-spacing: 30px 10px;
                td {
                    padding: 10px 0 5px 0;
                    text-align: left;
                    font-size: 15px;
                    font-weight: 700;
                    width: 300px;
                    border-bottom: 1px solid lightgrey;
                }
            }

        }
    }

    .top-links {
        border-bottom: lightgrey solid 1px;
        height: 47px;


        p {
            padding-top: 14px;
            padding-left: 30px;
            padding-bottom: 14px;
            margin: 0;
        }
    }

    .add-links {
        height: 105px;

        .new-links {
            outline: none;
            font-family: Andale Mono, monospace;
            color: white;
            font-size: 25px;
            background-color: #F58220;
            margin: 15px 0;
            padding: 20px 30px;
            border-radius: 5px;
            border: 0;

            &:hover {
                background-color: #FFA200;
                opacity: 1;
            }
        }

        .button-links {
            text-align: center;
        }
    }

    .center-links {
        padding: 15px 0;
        text-align: center;
        height: 640px;
    }

    .personal-data {
        border-bottom: lightgrey solid 1px;
        height: 47px;

        p {
            padding-top: 14px;
            padding-left: 30px;
            padding-bottom: 14px;
            margin: 0;
        }
    }

    .name {

        .name-data {
            padding: 30px 0 30px 30%;
            border-bottom: solid 1px lightgrey;
        }

        .contact-data {
            padding: 30px 0 30px 30%;
            border-bottom: solid 1px lightgrey;
        }

        .wallet-data {
            padding: 30px 0 30px 30%;
            border-bottom: solid 1px lightgrey;
        }

        .password-data {
            padding: 30px 0 30px 30%;
            border-bottom: solid 1px lightgrey;
        }

        label {
            min-width: 220px;
            text-align: left;
            line-height: 35px;
            font-size: 15px;
            float: left;
        }

        input {
            width: 200px;
            outline: none;
            font-size: 15px;
        }
    }

    .table-links {
        display: inline-table;

        table {
            border-spacing: 0;
            padding-top: 30px;
            td {
                padding: 0;
                border-bottom: 1px solid lightgrey;
                min-width: 200px;
                max-width: 100%;

                :nth-child(2) {
                    padding: 0 200px 0 220px;
                }

                :nth-child(3) {
                    padding-right: 10px;
                    padding-left: 0;
                }

                :last-child {
                    padding: 0 10px 0 10px;
                }

                &:hover {
                    background-color: lightgrey;

                    a {
                        color: white;
                    }

                    p {
                        color: white;
                    }

                    .fa-link {
                        color: #F58220;
                        opacity: 1;
                    }
                }
            }

            p {
                padding-left: 10px;
                display: inline-flex;
            }

            a {
                text-decoration: none;
                color: grey;
            }
        }
    }

    .table-payout {
        display: inline-table;
        padding: 30px 0;

        table {
            thead {
                :nth-child(2) {
                    padding-left: 280px;
                }

                :nth-child(3) {
                    padding-left: 275px;
                }

                :nth-child(4) {
                    padding-left: 210px;
                }

                th {
                    padding-left: 10px;
                    float: left;
                    font-weight: 900;
                    color: black;
                    padding-bottom: 20px;
                }
            }

            td {
                border-bottom: 1px solid lightgrey;
                min-width: 200px;
                max-width: 100%;

                :nth-child(2) {
                    padding: 0 200px 0 220px;
                }

                :nth-child(3) {
                    padding-right: 200px;
                }

                :nth-child(4) {
                    padding-right: 10px;
                    padding-left: 0;

                }
            }

            p {
                padding-left: 10px;
                display: inline-flex;
            }
        }
    }

    .table-details {
        display: inline-table;
        padding: 30px 0;

        table {
            th {
                float: left;
                padding-left: 19px;
                font-weight: 900;
                color: black;
                padding-bottom: 20px;
            }

            td {
                border-bottom: 1px solid lightgrey;
                min-width: 200px;
                max-width: 100%;
            }

            p {
                padding-left: 10px;
                display: inline-flex;
            }
        }
    }

    .add-postback {
        height: 105px;
        padding-right: 30px;

        .new-postback {
            outline: none;
            font-family: Andale Mono, monospace;
            color: white;
            font-size: 15px;
            background-color: #F58220;
            margin: 15px 0;
            padding: 10px 20px;
            border-radius: 5px;
            border: 0;

            &:hover {
                background-color: #FFA200;
                opacity: 1;
            }
        }

        .button-postback {
            text-align: right;
        }
    }

    .postback-table {
        display: inline-flex;

        p {
            top: 300px;
        }

        .signup-table {
            margin-right: 5px;
            border: 1px solid lightgrey;
        }

        .deposit-table {
            margin-left: 5px;
            border: 1px solid lightgrey;
        }
    }

    .postback-sends {
        display: inline-flex;
    }
}