.content{
    padding-top: 70px;
    padding-left: 188px;
}
.top-chart{
    padding-top: 12px;
    border-bottom: grey solid 1px;
    height: 47px;
    text-align: left;
}
.center-chart{
    border-bottom: grey solid 1px;
    height: 111px;
}
.bottom-chart{
    height: 742px;
}
.top-links{
    border-bottom: grey solid 1px;
    height: 47px;
}
.add-links {
    height: 105px;
}
.center-links{
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;
    height: 640px;
}
.calender{
    text-align: center;
    padding: 43px 0;
}