.content{
    height: 30%;
    max-width: 88%;
    padding-top: 62px;
    padding-left: 188px;
    top: 0;
}
.top-chart{
    border-bottom: grey solid 1px;
    height: 47px;
}
.center-chart{
    border-bottom: grey solid 1px;
    height: 111px;
}
.bottom-chart{
    height: 742px;
}
.top-links{
    border-bottom: grey solid 1px;
    height: 47px;
}
.add-links {
    height: 105px;
}
.center-links{
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;
    height: 640px;
}
.top-chart{
    text-align: center;
}
.calender{
    text-align: center;
    padding: 43px 0;
}