@media (min-width: 611px) and (max-width: 1024px) {
    .top-bar {
        table {
            font-size: 10px;

            .user {
                p {
                    top: 8px;
                    font-size: 13px;
                    right: 65px;
                }

                i {
                    font-size: 20px;
                }
            }

            .logout {
                i {
                    padding-left: 40px;
                }
            }

            i {
                font-size: 20px;
            }

            td {
                width: 150px;
            }
        }

        select {
            font-size: 15px;
            width: 70px;
        }
    }

    .container {
        width: 100%;

        .links {
            .center-links {
                padding: 0;

                table {
                    font-size: 14px;
                    width: 100%;
                    padding: 0;

                    p {
                        padding: 0 35px 0 35px;
                    }
                }
            }

            .new-links {
                font-size: 15px;
            }
        }
    }

    .content {
        padding: 70px 0 0 185px;

        .bottom-chart {
            .chart-photo {
                padding: 0 0 30px 0;

                .chart-table {
                    padding-left: 10%;

                    td {
                        font-size: 12px;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }

        .center-chart {
            .calender {
                .date-picker {
                    input {
                        font-size: 13px;
                    }

                    .refresh {
                        font-size: 15px;

                        i {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .table-details {
            display: block;
            width: 100%;
            overflow-x: auto;

            table {
                width: 100%;
                max-width: 100%;
                border-spacing: 0;
                width: 100%;
                margin: 0 10px;

                th {
                    font-weight: 900;
                    color: black;
                    padding-bottom: 20px;
                }

                td {
                    padding: 30px 5px 30px 5px;
                    border-bottom: 1px solid lightgrey;
                }
            }
        }

        .table-payout {
            display: block;
            width: 100%;
            overflow-x: auto;

            table {
                width: 100%;
                max-width: 100%;
                border-spacing: 0;
                margin: 0 10px;

                thead {
                    th {
                        padding: 0;
                    }
                }

                td {
                    padding: 30px 15px 30px 15px;
                    border-bottom: 1px solid lightgrey;
                }
            }
        }

        .name {
            text-align: center;

            .name-data {
                padding: 10px 0 10px 130px;
                border-bottom: solid 1px lightgrey;
            }

            .contact-data {
                padding: 10px 0 10px 130px;
                border-bottom: solid 1px lightgrey;
            }

            .wallet-data {
                padding: 10px 0 10px 130px;
                border-bottom: solid 1px lightgrey;
            }

            .password-data {
                padding: 10px 0 10px 130px;
                border-bottom: solid 1px lightgrey;
            }

            label {
                line-height: 35px;
                font-size: 15px;
            }

            input {
                outline: none;
                font-size: 15px;
                border: 1px solid lightgrey;
            }
        }
    }
}

@media (min-width: 376px) and (max-width: 610px) {
    .top-bar {
        top: 62px;
        right: 0;

        table {
            font-size: 10px;
            padding: 0;

            .user {
                p {
                    top: 13px;
                    font-size: 10px;
                    right: 60px;
                }

                i {
                    font-size: 25px;
                }
            }

            i {
                font-size: 25px;
            }

            td {
                width: 150px;
            }
        }

        select {
            font-size: 15px;
            width: 90px;
        }
    }

    .sidebar {
        height: 62px;
        width: 100%;

        p {
            margin-bottom: 0;
        }

        ul {
            display: none;
            background-color: #333333;

            li {
                font-family: Andale Mono, monospace;
                font-size: 15px;
                font-weight: 500;
                padding: 12px 0;
                border-left: 3px solid transparent;
                transition: 0.5s;

                &:hover {
                    border-left: solid 3px #f58220;
                    background-color: rgba(211, 211, 211, 0.151);

                    a {
                        text-decoration: none;

                        i {
                            color: #f58220;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .side-nav.show {
            display: block;
        }

        .sidebar-title {
            a {
                color: white;
                text-decoration: none;
                margin-left: 83%;
                left: 0;
            }
        }
    }

    .container {
        width: 100%;

        .links {
            .center-links {
                padding: 0;

                table {
                    font-size: 14px;
                    width: 100%;
                    padding: 0;

                    p {
                        padding: 0 10px 0 10px;
                    }
                }
            }

            .new-links {
                font-size: 15px;
            }
        }
    }

    .content {
        padding: 130px 0 0 0;

        .bottom-chart {
            .chart-photo {
                padding: 0 0 30px 0;

                .chart-table {
                    padding-left: 0;

                    td {
                        font-size: 12px;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }

        .center-chart {
            .calender {
                .date-picker {
                    input {
                        font-size: 13px;
                    }

                    .refresh {
                        font-size: 15px;

                        i {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .table-details {
            display: block;
            width: 100%;
            overflow-x: auto;

            table {
                width: 100%;
                max-width: 100%;
                border-spacing: 0;
                width: 100%;
                margin: 0 10px;

                th {
                    font-weight: 900;
                    color: black;
                    padding-bottom: 20px;
                }

                td {
                    padding: 30px 5px 30px 5px;
                    border-bottom: 1px solid lightgrey;
                }
            }
        }

        .table-payout {
            display: block;
            width: 100%;
            overflow-x: auto;

            table {
                width: 100%;
                max-width: 100%;
                border-spacing: 0;
                margin: 0 10px;

                td {
                    padding: 30px 15px 30px 15px;
                    border-bottom: 1px solid lightgrey;
                }
            }
        }

        .name {
            text-align: center;

            .name-data {
                padding: 10px 10px 10px 10px;
                border-bottom: solid 1px lightgrey;
            }

            .contact-data {
                padding: 10px 10px 10px 10px;
                border-bottom: solid 1px lightgrey;
            }

            .wallet-data {
                padding: 10px 10px 10px 10px;
                border-bottom: solid 1px lightgrey;
            }

            .password-data {
                padding: 10px 10px 10px 10px;
                border-bottom: solid 1px lightgrey;
            }

            label {
                width: 100%;
                text-align: center;
                line-height: 35px;
                font-size: 15px;
            }

            input {
                outline: none;
                font-size: 15px;
                border: 1px solid lightgrey;
            }
        }
    }
}

@media (min-width: 1px) and (max-width: 375px) {
    .top-bar {
        top: 62px;
        right: 0;

        table {
            font-size: 10px;
            padding: 0;

            .user {
                width: 100px;

                p {
                    display: none;
                }

                i {
                    margin-left: 40px;
                    font-size: 20px;
                }
            }

            .logout {
                i {
                    padding-left: 40px;
                }
            }

            i {
                font-size: 20px;
            }

            td {
                width: 150px;
            }
        }

        select {
            font-size: 12px;
            width: 80px;
            margin-left: 10px;
        }
    }

    .sidebar {
        height: 62px;
        width: 100%;

        p {
            margin-bottom: 0;
        }

        ul {
            display: none;
            background-color: #333333;

            li {
                font-family: Andale Mono, monospace;
                font-size: 15px;
                font-weight: 500;
                padding: 12px 0;
                border-left: 3px solid transparent;
                transition: 0.5s;

                &:hover {
                    border-left: solid 3px #f58220;
                    background-color: rgba(211, 211, 211, 0.151);

                    a {
                        text-decoration: none;

                        i {
                            color: #f58220;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .side-nav.show {
            display: block;
        }

        .sidebar-title {
            a {
                text-decoration: none;
                color: white;
                margin-left: 80%;
                left: 0;
            }
        }
    }

    .container {
        width: 100%;

        .links {
            .center-links {
                padding: 0;

                table {
                    font-size: 10px;
                    width: 100%;
                    padding: 0;

                    p {
                        padding: 0 10px 0 10px;
                    }
                }
            }

            .new-links {
                font-size: 15px;
            }
        }
    }

    .content {
        padding: 130px 0 0 0;

        .bottom-chart {
            .chart-photo {
                padding: 0 0 30px 0;

                .chart-table {
                    padding-left: 0;

                    td {
                        font-size: 12px;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }

        .center-chart {
            .calender {
                .date-picker {
                    input {
                        font-size: 11px;
                    }

                    .refresh {
                        font-size: 13px;

                        i {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .table-details {
            display: block;
            width: 100%;
            overflow-x: auto;

            table {
                width: 100%;
                max-width: 100%;
                border-spacing: 0;
                width: 100%;
                margin: 0 10px;

                th {
                    font-weight: 900;
                    color: black;
                    padding-bottom: 20px;
                }

                td {
                    padding: 30px 5px 30px 5px;
                    border-bottom: 1px solid lightgrey;
                }
            }
        }

        .table-payout {
            display: block;
            width: 100%;
            overflow-x: auto;

            table {
                width: 100%;
                max-width: 100%;
                border-spacing: 0;
                margin: 0 10px;

                td {
                    padding: 30px 15px 30px 15px;
                    border-bottom: 1px solid lightgrey;
                }
            }
        }

        .personal-data {
            border-bottom: lightgrey solid 1px;
            height: 47px;

            p {
                padding-top: 14px;
                padding-left: 30px;
                padding-bottom: 14px;
                margin: 0;
            }
        }

        .name {
            text-align: center;

            .name-data {
                padding: 10px 10px 10px 10px;
                border-bottom: solid 1px lightgrey;
            }

            .contact-data {
                padding: 10px 10px 10px 10px;
                border-bottom: solid 1px lightgrey;
            }

            .wallet-data {
                padding: 10px 10px 10px 10px;
                border-bottom: solid 1px lightgrey;
            }

            .password-data {
                padding: 10px 10px 10px 10px;
                border-bottom: solid 1px lightgrey;
            }

            label {
                width: 100%;
                text-align: center;
                line-height: 35px;
                font-size: 15px;
            }

            input {
                outline: none;
                font-size: 15px;
                border: 1px solid lightgrey;
            }
        }
    }
}