.topbar{
    color: grey;
    font-weight: 900;
    text-align: right;
    align-items: right;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 62px;
    border-bottom: grey solid 1px;
    box-shadow: black 0 -1px 7px 0;
}
select{
    font-family: Andale Mono, monospace;
    border: 0;
    font-size: 15px;
    background-color: white;
    border: none;
    margin-top: 5px;
    width: 130px;
}
table{
    height: 100%;
    padding: 5px 20px 5px 10px;
    float: right;  
}
table td{
    border-radius: 5px;
    box-shadow: black 0 0 5px 0;
    text-align: center;
    width: 200px;
    margin: 0;
}
.coast i{
    padding-left: 5px;
    float: left;
    font-size: 30px;
    padding-right: 10px;
}
.bell{
    padding-top: 4px;
    width: 50px;
    font-size: 30px;
    border: none;
}
.logout{
    padding-top: 4px;
    width: 50px;
    font-size: 30px;
    border: none;
}
.user{
    position: relative;
}
.user p{
    font-family: Andale Mono, monospace;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    padding-left: 50px;
    padding-bottom: 1px;
}
.user i{
    padding-left: 5px;
    float: left;
    font-size: 30px;
    padding-right: 10px;
}
